body {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #fff361;
}

body.chart {
  background-color: #000000;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.intro {
  margin: 30px 0;
}
.intro h1 {
  font-size: 72px;
  line-height: 1;
}
.intro .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.road {
  margin: 0 auto;
}

.logo-illustration {
  position: absolute;
  top: 70px;
  left: 20px;
}

.university {
  position: absolute;
  top: 500px;
  left: 100px;
}

.university-caption {
  position: absolute;
  top: 820px;
  left: 100px;
  width: 320px;
}

.plane {
  position: absolute;
  top: 760px;
  left: 900px;
}

.sailboat {
  position: absolute;
  top: 1300px;
  left: 100px;
}


.van {
  position: absolute;
  top: 1400px;
  left: 900px;
}

.back {
  position: absolute;
  top: 1000px;
  left: 100px;
}
